

body {
        background: url('Dark2.jpg'); 
        background-size: cover; 
        text-align: left;
        font-family:Arial;
        }
    
    h1 { 
        font-family: 'Bungee Shade'; 
        font-size: 90px;
        color: white;
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-top: -35px;
        }
    
    hr {
        margin-top: -30px;
        }
    
    h2 {
        color: white;
        font-size: 50px;
        text-align: center;
        padding-left: 100px;
        }
    
    .container {
        max-width: 960px;
        width: 96%; 
        margin: auto;
        }
    
    img {
        float: left;
        width: 120px;
        height: 100px;
        margin-top: 35px;
        margin-left: 30px;
        }
    
    nav {
        float: right; 
        line-height: 70px;
        margin-top: 60px;
        margin-right: 20px;
        }
    
    nav li { 
        display: inline-block; 
        margin-right: 10px;
        line-height: normal;
        }
    
    article {
        color: white;
        font-size: 30px;
        }
    
    ul li {
        text-align: left;
        color: white;
        }
    
    nav a:link, nav a:visited, nav a:active {
        color: black;
        background: rgb(126, 126, 126);
        padding-top: 20px; 
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        }    
    
    nav a:hover {
        color: rgb(72, 72, 72);
        background: lightgrey;
        padding-top: 20px; 
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
        text-decoration: underline;
    
    }
    *
    { margin: 0;
    padding: 0;}
    
    p#sidebar{
        margin-left: 0px;
        color: grey;
    }
    
    p#sidebar2 {
        color: darkblue; 
        margin-left: 0px;
    }
    
    p
    { padding: 0 0 20px 0;
    line-height: 1.7em;
    margin-left: 30px;
    color: rgb(116, 116, 231)}
    
    img
    { border: 0;}
    
    #sleep {
        width: 700px;
        height: 500px;
        margin-top:0;
        margin-bottom: 10px;
    }
    h3, h4, h5
    { color: #362C20;
    letter-spacing: 0em;
    padding: 0 0 5px 0;}
    
    h3
    { font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color:  #000;}
    
    h3
    { font-size: 140%;
    padding: 5px 0 0 0;}
    
    h4, h6
    { color: darkblue;
    padding: 0 0 5px 0;
    font: normal 110% arial;
    text-transform: uppercase;}
    
    h5
    { color: #888;
    font: normal 95% arial;
    letter-spacing: normal;
    padding: 0 0 15px 0;}
    
    a, a:hover
    { outline: none;
    text-decoration: underline;
    color: #AEB002;}
    
    a:hover
    { text-decoration: none;}
    
    ul
    { margin: 2px 0 22px 17px;}
    
    ul li
    { list-style-type: circle;
    margin: 0 0 6px 0; 
    padding: 0 0 4px 5px;
    line-height: 1.5em;}
    
    #site_content
    { margin-left: auto; 
    margin-right: auto;}
    
    #site_content
    { width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding: 0 0 10px 0;} 
    
    #sidebar_container
    {position:absolute;
    right: 120px;
    top: 220px;
    width: 224px;}
    
    .sidebar_top
    { width: 222px;
    height: 14px;
    margin-bottom: -1px;
    background: transparent url(side_top.png) no-repeat;}
    
    .sidebar_base
    { width: 222px;
    height: 14px;
    background: transparent url(side_base.png) no-repeat;}
    
    .sidebar
    { float: right;
    width: 222px;
    padding: 0;
    margin: 0 0 16px 0;}
    
    .sidebar_item
    { background: url(side_back.png) repeat-y;
    padding: 0 15px;
    width: 192px;}
    
    .sidebar li a.selected
    { color: #444;} 
    
    .sidebar ul
    { margin: 0;} 
    
    #content
    { text-align: left;
    width: 620px;
    padding: 0 0 0 5px;
    float: left;
    margin-left: 150px;
    }
    
    .sidebar ul li
    { list-style-type: none;
    background: url(bullet.png) no-repeat;
    margin: 0 0 0 0; 
    padding: 0 0 4px 25px;
    line-height: 1.5em;}
    
    #stupid {
            margin-top: 0px;
            margin-left: -15px;
    }
    
    
    
